{% extends 'restaurantApp/dashboard.html' %}
{% block content %}
{% include 'restaurantApp/profile-status.html' %}

<br>

<div class="row" style="margin-right:auto; margin-left:auto">
	<div class="col-md-7">
		<h5>BOOKING HISTORY:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Course</th>
					<th>Date</th>
					<th>Time</th>
					<th>Order Invoice</th>
					<th>Rate your experience</th>
				</tr>

				{% for booking in prev_bookings %}
					<tr>
						<td>{{booking.booking_event}}</td>
						<td>{{booking.booking_date}}</td>
						<td>{{booking.booking_time}}</td>
						<td><a href="">Click here</a></td>
						<td>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>



{% endblock %}